* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: url('lec.jpg') center center / cover no-repeat fixed;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Затемнение фона */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -2;
}

/* ДОЖДЬ */
.rain {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}

.drop {
    position: absolute;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.3));
    width: 1px;
    height: 80px;
    top: -100px;
    animation: fall 0.6s linear infinite;
}

@keyframes fall {
    to { transform: translateY(110vh); }
}

/* КРАСНАЯ ЗМЕЙКА */
.cursor-dot {
    height: 10px;
    width: 10px;
    background-color: #00ff9d;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 0 15px #00ff2a;
}

/* КОНТЕНТ */
.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    z-index: 10;
}

.info-box {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.7;
}

.info-box b { color: #4b6fff; }

.links-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #4b6fff;
    margin-bottom: 20px;
}

/* КНОПКИ */
.btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.03); 
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 12px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.2s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(75, 111, 255, 0.4);
    transform: scale(1.02);
}

.footer {
    margin-top: 35px;
    font-size: 10px;
    opacity: 0.4;
    letter-spacing: 3px;
}
.info-box h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}